{% load static %}
<html>
    <head>
        <title>
            {% block title %}Projects-dev{% endblock %}
        </title>
    </head>
    <body>
        <h1>Projects-DEV</h1>
        <form method="POST">
            {% csrf_token %}
            Value: <input type="text" name="value"><br>
            <input type="submit" value="Check">
        </form>
    </body>
</html>